header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#filters {
    margin-top: 60px; /* To ensure it's not covered by the floating header */
    text-align: center;
}

#submit {
    display: block;
    margin: 20px auto;
}

#results {
    margin-top: 20px;
}


.autocomplete-suggestions {
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 2px); /* Adjust width as necessary */
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    text-align: left;
}

.suggestion-item:hover {
    background-color: #f2f2f2;
}
