/* Resets the padding, margin, and box-sizing for all elements to make the styling more consistent across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-inset-left: env(safe-area-inset-left, 0px);
    --safe-area-inset-right: env(safe-area-inset-right, 0px);
}


/* Styles the <header> element */
header {
    background-color: #0D1B2A; /* Dark background for the header */
    color: #E0E1DD; /* White text color */
    padding-top: calc(10px + var(--safe-area-inset-top)); /* Add safe area inset to top padding */
    padding-bottom: 10px; /* Bottom padding */
    padding-left: calc(20px + var(--safe-area-inset-left)); /* Adjust left padding for safe area */
    padding-right: calc(20px + var(--safe-area-inset-right)); /* Adjust right padding for safe area */
    width: 100%; /* Ensures the header stretches across the full viewport width */
    position: fixed; /* Fixes the position relative to the viewport */
    top: 0; /* Positions the header at the top of the viewport */
    left: 0; /* Aligns the header to the left of the viewport */
    z-index: 1000; /* Ensures the header stays on top of other content */
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Standardize font */
    color: #0D1B2A; /* Standard dark grey for main text color for readability */
    padding-top: 0; /* Adds padding at the top of the body to prevent content from being hidden behind the fixed header */
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6; /* Improves readability */
    background-color: #778DA9;
    padding-bottom: 10px;
}

#about {
    padding: 20px; /* Adds space between the text and the border */
    margin: 50px 0; /* Adds some space outside the div for better layout */
}


/* Styles the <nav> element */
nav ul {
    list-style: none; /* Removes the default list styling */
    display: flex; /* Displays the list items in a row */
    align-items: center; /* Centers the list items vertically */
    justify-content: start; /* Aligns the list items to the start of the nav */
}

nav ul li {
    margin-right: 20px; /* Adds some space between the list items */
}

nav ul li:last-child {
    margin-right: 0; /* Removes margin for the last item to avoid extra space at the end */
}

nav a {
    text-decoration: none; /* Removes the underline from links */
    color: #E0E1DD; /* White text color for the links */
    transition: color 0.3s; /* Smooth transition for link color change */
}

nav a:hover {
    color: #5551ff; /* Changes the link color on hover */
}

#filters {
    margin-top: 60px; /* To ensure it's not covered by the floating header */
    text-align: center;
    position: relative;
}

#submit {
    background-color: #0D1B2A;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #E0E1DD;
    cursor: pointer;
    flex: 0 0 auto;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    font-size: 16px;
    margin-top: 5px;
}
.container {
    display: flex;
    justify-content: center;
    padding: 5px; /* Centers horizontally */
    /* For vertical centering, uncomment the next two lines */
    /* align-items: center; */
    /* min-height: 100vh; */
}
  
#submit:hover {
    background-color: #374151;
}

#submit:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    #submit {
        padding: .75rem 1.5rem;
    }
}
  
#results {
    margin-top: 20px;
}

/* Targets all <input> elements of type="text" */
input[type="text"] {
    border: 3px solid #0D1B2A;
    border-radius: 12px;
    height: 40px; /* Makes the boxes a bit smaller in height */
    line-height: normal;
    color: #0D1B2A;
    background-color: #778DA9;
    display: block; /* Ensures each input is on a new line */
    width: 80%; /* Makes the boxes smaller, not stretching to 100% of the width */
    max-width: 500px; /* Ensures the boxes don't grow beyond a certain width, adjust as needed */
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 12px;
    margin: 10px auto 0px; /* Adds top and bottom margin for space between inputs, centers them horizontally */
}

/* Style for input fields when they are focused */
input[type="text"]:focus {
    border: 3px solid #5551ff;
    outline: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

::placeholder{
    color: #E0E1DD;
}

.autocomplete-suggestions {
    font-size: 16px;
    border: 3px solid #5551ff;
    border-top: none;
    z-index: 1000;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #E0E1DD; /* Ensure background color for visibility */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */
    max-height: 300px; /* Adjust based on your needs */
    overflow-y: auto; /* Enables scrolling within the suggestions box */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #282828;
    border-radius: 0 0 12px 12px;
    max-width: 500px;

}

.autocomplete-suggestions div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #5551ff;
}

.autocomplete-suggestions div:hover {
    background-color: #778DA9;
}

.autocomplete-active {
    color: #E0E1DD;
}

#gradesChart {
    margin-top: 20px; /* Space above the chart */
    max-width: 800px; /* Ensure the chart doesn't stretch beyond this width */
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
}

#results {
    max-width: 800px;
    width: 100%; /* Match the filters' width for consistency */
    margin-top: 20px; /* Space above the results */
}


#averageGPA {
    font-size: 24px;
    color: #0D1B2A;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

#results h2 {
    font-size: 20px;
    color: #0D1B2A;
    margin-bottom: 15px;
}

#results pre {
    background-color: #E0E1DD;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-x: auto; /* Allow horizontal scrolling for wide content */
    width: 100%; /* Ensure it fills its container */
}
*::-webkit-scrollbar {
    display: none;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: #0D1B2A;
    border-radius: 16px;
    border: 0px solid transparent;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display:none;
}

pre, canvas{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Standardize font */
    color: #0D1B2A; /* Standard dark grey for main text color for readability */
    padding-top: 0; /* Adds padding at the top of the body to prevent content from being hidden behind the fixed header */
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6; /* Improves readability */
}

#uni{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}